
  
  button {
    background-color: #282c34; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .sign-in {
    color: #ffffff;
    background: rgb(41, 106, 247);
    max-width: 400px;
    margin: 0 auto;
    border-radius: 8px;
  }
  
  
  
  
  ul, li {
    text-align: left;
    list-style: none;
  }
  
  /* p {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  } */

  .card{
    width: 50% !important;
    border : 1px solid #000;
  }
  .app-card{
    width: 90% !important;
    border : 1px solid #000;
    margin-top: 2%;
  }

  @media (max-width: 768px) {
    .card{
      width: 90% !important;
    }

  }
  
  